
@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">


            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" asp-action="Index" asp-controller="Home">
                    Home
                </a>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    @if (signInManager.IsSignedIn(User))
                    {
                         <form method="post" asp-action="Logout" asp-controller="Account">
                            <button type="submit" class="button is-primary">
                                Logout @User.Identity.Name
                            </button>
                          </form>
                    }
                    else
                    {
                            <a class="button is-light" asp-action="Register" asp-controller="Account">
                                Register
                            </a>
                            <a class="button is-light" asp-action="Login" asp-controller="Account">
                                Log in
                            </a>
                     }
                    </div>
            </div>
        </div>
    </nav>

    <div class="section">
        <div class="columns">
            <aside class="column is-2">
                <nav class="menu">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a class="is-active">Dashboard</a></li>
                        <li><a>Customers</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a>Team Settings</a></li>
                        <li>
                            <a class="">Manage Your Team</a>
                            <ul>
                                <li><a>Members</a></li>
                                <li><a>Add a Teamate</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Bugs
                    </p>
                    <ul class="menu-list">
                        <li><a>Create Bugs</a></li>
                        <li>
                            <a class="">Manage Bugs</a>
                            <ul>
                                <li><a>Progress</a></li>
                                <li><a>Resolved Bugs</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
















    <div>
        @RenderBody()
    </div>


    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</body>
</html>
